# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Datasets / Large files
Dataset/CheckImages/
Dataset/BoundingBoxes/
Dataset/CourtesyAmounts/
Dataset/CourtesyAmounts_raw/
Dataset/LegalAmounts_raw_text/
Dataset/LegalAmounts_tokenized/
*.tif
*.jpg
*.png

# Ignore Heavy Models and Intermediate Data
*.pt
*.safetensors
PartA/yolo_data/
PartA/test_yolo_data*/
PartB/crops/
PartC/crops/
PartD/crops/

# Backups and Local Testing
Test Set/
*_backup/
predictions_smoke_test.txt
*.pdf
